WMI
rich
pywikihow
pyqt5
pydub
phonenumbers
selenium
googletrans==3.1.0a0
pyttsx3
pypiwin32
pywin32
wikipedia
psutil
requests
python-opencv
pyjokes
pywhatkit
soundcard
pyautogui
pypdf2
speedtest
plyer
rotatescreen